name: Update data

on:
    schedule:
        - cron: "0 */2 * * 1-5" # This means the workflow will run once every 2nd hours. 
    push:
        branches:
            - main # This means the workflow will also run on every push to the 'main' branch

jobs:
    update_data:
        name: Update data

        runs-on: ubuntu-latest

        steps:
            - name: Check out code
              uses: actions/checkout@v2

            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: "3.x"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install requests
                  pip install blinker
                  pip install selenium-wire
                  pip install haralyzer
                  pip3 install packaging
                  pip install setuptools
                  pip install typing-extensions
                  
            - name: Update Avanza data
              run: python fetchAvanzaData.py # Get data from Avanza
            - name: Update Skandia data
              run: python fetchSkandiaData.py # Get data from Skandia

            - name: Commit and push
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  git pull
                  git add .
                  git commit -m "Update data" -a || echo "No changes to commit"
                  git push
